# Default Laravel .gitignore
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# We're not deploying with git so the built files do not need to be in the repo
/public/css
/public/fonts
/public/gpx
/public/img
/public/js
/public/mix-manifest.json

# app.yaml should be treated like .env, I think
app.yaml